[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "==2.6.1"
dash-bootstrap-components = "==1.2.1"
pandas = "*"
requests = "*"
babel = "*"
gunicorn = "*"
werkzeug = "==2.2.2"
setuptools = "==65.3.0"

[dev-packages]

[requires]
python_version = "3.8"
